main {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 190px;
    padding-right: 190px;
    
    gap: 55px;
}

h1 {
    font-size: 3rem;
}

.introduction {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.introduction h2 {
    font-size: 2rem;
    padding-left: 37px;
    color: #DEE2E6;
}

.introduction p {
    padding-left: 37px;
    font-size: 1.5rem;
    color: #ADB5BD;
}

.introduction ul {
    padding-left: 37px;
    font-size: 1.5rem;
    color: #ADB5BD;
}

img {
    height: 300px;
    width: auto;
}